@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
}
.font {
    font-family: "Fira Sans", serif;
    font-style: normal;
    margin: 0px 100px;
    background-color: rgb(245, 245, 245);
}
/* comon style */
.btn{
    background-color: rgb(0, 106, 80);
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition-duration: 0.5s;
}
.btn:hover{
    background-color: rgb(1, 64, 48);
}
.discription{
    color: rgba(14, 14, 14, 0.7);
    margin: 20px 0;
}
.card-name{
    color: rgba(14, 14, 14, 0.8);
    font-size: 18px;
    margin: 10px 0px;
}

/* nav style start */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0px;
}
nav a{
    text-decoration: none;
    color: rgb(0, 106, 80);
    padding: 10px 30px;
    border: 2px solid rgb(0, 106, 80);
    border-radius: 8px;
    transition-duration: 0.5s;
}
nav a:hover{
    background-color: rgb(0, 106, 80);
    color: #fff;
}
/* hero area style */
.hero-section{
    background-color: rgb(198, 228, 214);
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 40px 40px;
}
.hero-section .mini-tittle{
    color: rgba(14, 14, 14, 0.5);
}
.hero-section .big-tittle{
    font-weight: 700px;
    font-size: 50px;
    margin: 21px 0px;
}
/* section one style */
.section-one{
    margin: 40px 0px;
}
.section-one .card-container{
    display: flex;
    gap: 20px;
    margin: 20px 0px;
}
.section-one .card-container .card{
    background-color:  rgb(255, 255, 255);
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 14px;
    padding: 19px;
}
/* section two style */
.section-two{
    margin: 40px 0px;
}
.section-two .section-two-tittle{
    margin: 15px 0px;
}
.section-two .card-container{
    display: flex;
    gap: 30px;
    margin: 30px 0px;
}
.section-two .bg-color-one{
    background-color: rgba(84, 144, 245, 0.2);
    padding: 15px;
    border-radius: 12px;
}
.section-two .bg-color-two{
    background-color: rgb(198, 228, 214);
    padding: 15px;
    border-radius: 12px;
}
.section-two .bg-color-three{
    background-color: rgb(247, 235, 207);
    padding: 15px;
    border-radius: 12px;
}
.section-two .fist-btn{
    background-color: rgb(84, 144, 245);
    padding: 11px 20px;
    font-weight: 425px;
    transition-duration: 0.5s;
}
.section-two .fist-btn:hover{
    background-color: rgb(1, 62, 167)
}
.section-two .secund-btn{
    background-color: rgb(1, 94, 52);
    padding: 11px 20px;
    font-weight: 425px;
    transition-duration: 0.5s;
}
.section-two .secund-btn:hover{
    background-color: rgb(91, 246, 176)
}
.section-two .thard-btn{
    background-color: rgb(255, 194, 57);
    padding: 11px 20px;
    font-weight: 425px;
    transition-duration: 0.5s;
}
.section-two .thard-btn:hover{
    background-color: rgb(135, 95, 2)
}